body {
  margin: 0;
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

#sidebar {
  width: 300px;
  padding: 10px;
  background: #f4f4f4;
  overflow-y: auto;
}

#map {
  flex: 1;
}

#search {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
